<!-- /snippets/product-grid-item-frontpagefeatured.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

<div class="grid__item {{ grid_item_width }} product">


  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <a href="{{ product.url | within: collection }}" class="grid__image">
    {% for variant in product.variants %}
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    {% endfor %}
  </a>

  <p class="h6">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  
    {% for tag in product.tags %}
        <p class="product-quick-description" {% if tag == "Blender Cup" %} style="height: 30px" {% endif %}>{{ tag }}</p>
    {% endfor %}
  
  <p class="price">{{ bold_price | money }}</p>
   
  
  <p>
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% comment %}
    {% if sold_out %}
      <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% endcomment %}
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <br><s>{{ bold_compare_at_price | money }}</s>
    {% endif %}
  </p>


{% comment %}<form action="/cart/add" method="post">
      <div class="variants" {% if product.title == "310 Shaker Cup" %} style="height: 30px" {% endif %}>
        <span>Select {{product.options}}</span>
        <ul>
          {% for variant in product.variants %}
          <li>
            {% if variant.available == true %}
              <input type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" {%if forloop.first%} checked="checked" {%endif%} />
              <label for="radio_{{variant.id}}"><span class="{{ variant.title }}"><span></span></span></label>
            {% else %}
              <span>Sold Out! - {{ variant.title }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>  
      
      {% if product.title == "310 Shaker Cup" %}
        <p class="price">{{ bold_price | money }}</p>
      {% endif %}

      <ul class="add-btn">
        <input type="submit" name="add" value="ADD TO CART" id="add" class="add-to-cart" />
      </ul>


      <a href="{{ product.url | within: collection }}"> <div class="product-more-info">MORE INFO</div>    </a>
      
  </form>{% endcomment %}
  
  {% if sold_out %}
   <ul class="sold-out-btn">
   <a href="{{ product.url | within: collection }}"> <div class="sold-out">SOLD OUT</div>    </a>
   </ul>  
  {% else %}
   <ul class="add-btn">
   <a href="{{ product.url | within: collection }}"> <div class="buy-now">BUY NOW</div>    </a>
   </ul>
  {% endif %}
    <a href="{{ product.url | within: collection }}"> <div class="product-more-info">MORE INFO</div>    </a>
 
  <script>
    $('input:radio[name=id]').click(function(){
      $('.flavors').hide();
      $("input[type='radio']:checked").each(function() {
        console.log($(this).attr('id'));
        var id = $(this).attr('id');
        id = id.replace('radio_','image_');
        $('#'+id).show();
      });
    })
  </script>

</div>