<!-- /snippets/recipe.liquid -->
<div class="recipe-popout {{article.id}}">
	<div class="recipe-popout-wrapper">
		<div class="text-right"><a href="#" class="close">X</a></div>
		<div>
			<p class="content">
				{{article.content}}
			</p>
			<div class="recipe-footer">
				<div class="share-buttons">
					<ul class="inline-list social-icons">
	                    <li>
	                      <a class="icon-fallback-text" href="https://www.facebook.com/sharer/sharer.php?u={{shop.url}}{{article.url}}" title="310 Nutrition on Facebook">
	                        <span class="icon icon-facebook" aria-hidden="true"></span>
	                        <span class="fallback-text">Facebook</span>
	                      </a>
	                    </li>
	                    <li>
	                      <a class="icon-fallback-text" href="https://twitter.com/share?url={{shop.url}}{{article.url}}" title="310 Nutrition on Twitter">
	                        <span class="icon icon-twitter" aria-hidden="true"></span>
	                        <span class="fallback-text">Twitter</span>
	                      </a>
	                    </li>
	                    <li>
	                      <a class="icon-fallback-text" href="http://pinterest.com/pin/create/button/?url={{shop.url}}{{article.url}}&media={{shop.url}}/{{article.image}}" title="310 Nutrition on Pinterest">
	                        <span class="icon icon-pinterest" aria-hidden="true"></span>
	                        <span class="fallback-text">Pinterest</span>
	                      </a>
	                    </li>
	                </ul>
					
				</div>
				<div class="recipe-links">
					This delicious recipe takes your shake to a whole new level! <a href="https://tagboard.com/310Shake" class="tagboard-link">#310Shake</a> <a href="https://310nutrition.com/">310nutrition.com</a>
				</div>
			</div>
		</div>
		<div class="grid__item"><hr></div>
	</div>
</div>